<html>
    <head>
        <title>lazy-load-images</title>
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body>
        <section class="max-w-xl mx-auto space-y-12">
            <div>
                This is a demo. Inspect the image to make sure the <code>loading="lazy"</code> attribute is present
            </div>
            <!-- Remove alt tag to test plugin and watch console for error message -->
            <img alt="beach" src="https://images.unsplash.com/photo-1622663254182-0e5cbde0aed6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2037&q=80" />
        </section>
    </body>
</html>